@keyframes nudge {
  0% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(-22px);
  }
  100% {
    transform: translateX(0px);
  }
}
body {
  background: white;
  color: rgba(0, 0, 0, 0.66);
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.025em;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1, h2, h3 {
  text-align: right;
  margin: 0 40px 0 0;
  width: 230px;
  color: rgba(0, 0, 0, 0.85);
}
@media screen and (max-width: 992px) {
  h1, h2, h3 {
    width: 100%;
    display: block;
    margin-bottom: 1.5em;
    text-align: left;
  }
}

h1, h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  margin-top: -3px;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

a {
  color: rgba(0, 0, 0, 0.66);
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: black;
}

code {
  font-family: "Courier", monospace;
  vertical-align: bottom;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
code:hover, code:active, code:focus {
  background: rgba(0, 0, 0, 0.09);
}
code.disabled {
  background: none;
  cursor: default;
}

.hide {
  display: none;
}

header {
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 1em 1em;
  width: 100%;
  position: fixed;
  top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  header {
    display: block;
    padding: 0;
  }
}
header img {
  padding-top: 1em;
  width: 120px;
  opacity: 0.85;
}
@media screen and (max-width: 640px) {
  header img {
    padding-left: 0.9em;
  }
}
header nav {
  padding-top: 1em;
  position: relative;
}
@media screen and (max-width: 640px) {
  header nav {
    padding-bottom: 1em;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  header nav::-webkit-scrollbar {
    display: none;
  }
  header nav ul {
    animation: nudge 0.6s ease-in-out 0.7s 1;
  }
}
header nav li {
  display: inline;
  margin-right: 1.5em;
  font-size: 0.9em;
}
@media screen and (max-width: 992px) {
  header nav li {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 640px) {
  header nav li:first-child {
    margin-left: 16px;
  }
}
header nav li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  header nav li:last-child {
    margin-right: 32px;
  }
}
header nav a:hover {
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.09);
}
@media screen and (max-width: 640px) {
  header .overlay {
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: 100;
    height: 1em;
    top: 4em;
    right: 0;
    bottom: 0;
    width: 100%;
    background: -moz-linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 4%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 93%, white 100%);
    background: -webkit-linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 4%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 93%, white 100%);
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 4%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 93%, white 100%);
  }
}

main {
  max-width: 960px;
  padding: 0 1em;
  margin: 0 auto 1em;
}

section {
  padding-top: 10em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
section > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 2em;
}
@media screen and (max-width: 992px) {
  section > div {
    margin: 0 auto 2em;
  }
}
section ul {
  list-style: none;
  width: 180px;
}
section ul li {
  margin-bottom: 1.25em;
  position: relative;
}
section ul li span {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}
section ul li .tooltip {
  position: absolute;
  top: 28px;
  left: 0px;
  background: black;
  color: white;
  font-size: 0.8em;
  padding: 3px 6px 5px;
  border-radius: 4px;
}
section ul li .tooltip:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 24px;
  z-index: 1;
  border: solid 5px transparent;
  border-bottom-color: black;
}

.symbol {
  color: black;
  text-align: center;
  width: 60px;
  margin-right: 2.25em;
}
.symbol li:before, .symbol li:after {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}
.symbol li:before {
  content: "[";
  margin-right: 5px;
}
.symbol li:after {
  content: "]";
  margin-left: 5px;
}
.symbol code {
  font-family: "Lato", sans-serif;
}

.word, .number {
  width: 100px;
}

.word {
  margin-right: 2em;
}

.number {
  margin-right: 1.75em;
}
@media screen and (max-width: 640px) {
  .number {
    margin-right: 0;
  }
}

.name {
  width: 230px;
  font-weight: 300;
  cursor: default;
}
@media screen and (max-width: 640px) {
  .name {
    display: none;
  }
}

footer {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.66);
  margin: 7em 1em 1em;
}
@media screen and (max-width: 992px) {
  footer {
    margin-top: 0;
  }
}
footer a {
  color: rgba(0, 0, 0, 0.66);
}
footer a:hover {
  color: red;
}

/*# sourceMappingURL=main.css.map */
