body {
  background: white;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.025em;
}

h1, h2, h3 {
  text-align: right;
  margin: 0 40px 0 0;
  width: 230px;
  color: black;
}
@media screen and (max-width: 768px) {
  h1, h2, h3 {
    display: none;
  }
}

h1, h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  margin-top: -3px;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: black;
}

span {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}

header {
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  padding: 0 1em 1em;
  width: 100%;
  position: fixed;
  top: 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header img {
  padding-top: 1em;
}
header nav {
  padding-top: 1em;
}
@media screen and (max-width: 425px) {
  header nav {
    display: none;
  }
}
header nav li {
  display: inline;
  margin-right: 0.5em;
  font-size: 0.95em;
}
header nav li:after {
  content: "|";
  color: rgba(0, 0, 0, 0.2);
  margin-left: 0.5em;
  font-weight: 300;
}
header nav li:last-child {
  margin-right: 0;
}
header nav li:last-child:after {
  display: none;
}

main {
  max-width: 960px;
  padding: 1em;
  margin: 0 auto 1em;
}

section {
  padding-top: 7em;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
section > div {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 2em;
}
@media screen and (max-width: 768px) {
  section > div {
    margin: 0 auto 2em;
  }
}
section ul {
  list-style: none;
  width: 180px;
}
section ul li {
  margin-bottom: 1.25em;
}

.symbol {
  color: black;
  text-align: center;
  width: 60px;
  margin-right: 2.25em;
}
.symbol li:before, .symbol li:after {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}
.symbol li:before {
  content: "[";
  margin-right: 5px;
}
.symbol li:after {
  content: "]";
  margin-left: 5px;
}
.symbol code {
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.symbol code:hover, .symbol code:active, .symbol code:focus {
  background: rgba(0, 0, 0, 0.05);
}

.word, .number {
  width: 100px;
}
.word code, .number code {
  font-family: monospace;
  vertical-align: bottom;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.word code:hover, .word code:active, .word code:focus, .number code:hover, .number code:active, .number code:focus {
  color: black;
  background: rgba(0, 0, 0, 0.05);
}

.word {
  margin-right: 2em;
}

.number {
  margin-right: 1.75em;
}

.name {
  width: 230px;
  font-weight: 300;
  cursor: default;
}
@media screen and (max-width: 425px) {
  .name {
    display: none;
  }
}

footer {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.5);
  margin: 7em 1em 1em;
}
@media screen and (max-width: 768px) {
  footer {
    margin-top: 0;
  }
}
footer a {
  color: rgba(0, 0, 0, 0.5);
}
footer a:hover {
  color: red;
}

/*# sourceMappingURL=style.css.map */
