@import 'variables'
@import 'mixins'
@import 'animation'


//------------------------------------------


body
  background: white
  color: rgba($color, .66)
  font-size: 16px
  font-family: $font-family
  line-height: 1.4
  letter-spacing: .025em
  -webkit-text-size-adjust: none
  text-size-adjust: none

h1, h2, h3
  text-align: right
  margin: 0 40px 0 0
  width: 230px
  color: rgba($color, .85)

  @media screen and (max-width: $width-md) 
    width: 100%
    display: block
    margin-bottom: 1.5em
    text-align: left

h1, h2
  font-size: 1.5em
  font-weight: 700
  line-height: 1
  margin-top: -3px

h3
  font-size: 1em
  font-weight: 400
           
a
  color: rgba($color, .66)
  text-decoration: none
  @include transition($hover)

  &:hover
    color: $color

code
  font-family: $code
  vertical-align: bottom
  @include transition($hover)

  &:hover,
  &:active,
  &:focus
    background: rgba($color,.09)

  &.disabled
    background: none
    cursor: default

.hide 
  display: none

  

// Nav ---------------------------------------- 
header
  z-index: 1
  background: rgba(white, .9)
  padding: 0 1em 1em
  width: 100%
  position: fixed
  top: 0
  @include inline-flex
  -ms-flex-pack: justify
  justify-content: space-between

  @media screen and (max-width: $width-sm) 
    display: block
    padding: 0

  img 
    padding-top: 1em
    width: 120px
    opacity: .85

    @media screen and (max-width: $width-sm)
      padding-left: .9em

  nav
    padding-top: 1em
    position: relative

    @media screen and (max-width: $width-sm)
      padding-bottom: 1em
      white-space: nowrap
      overflow-x: auto
      overflow-y: hidden
      -webkit-overflow-scrolling: touch

      &::-webkit-scrollbar
        display: none

      ul
        animation: nudge .6s ease-in-out .7s 1
            
    li
      display: inline
      margin-right: 1.5em
      font-size: .9em

      @media screen and (max-width: $width-md)
        font-size: .85em

      @media screen and (max-width: $width-sm)
        &:first-child
          margin-left: 16px

      &:last-child
        margin-right: 0

        @media screen and (max-width: $width-sm)
          margin-right: 32px

    a:hover
      box-shadow: 0 2px 0px rgba(0,0,0,.09)

  @media screen and (max-width: $width-sm)
    .overlay
      pointer-events: none /* ignore clicks */
      content: ""
      position: absolute
      z-index: 100
      height: 1em
      top: 4em
      right: 0
      bottom: 0
      width: 100%
      background: -moz-linear-gradient($gradient)
      background: -webkit-linear-gradient($gradient)
      background: linear-gradient($gradient)

// Main ---------------------------------------- 
main
  max-width: 960px
  padding: 0 1em
  margin: 0 auto 1em      
         
section
  padding-top: 10em
  @include inline-flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap

  & > div
    @include inline-flex
    margin: 0 0 2em

    @media screen and (max-width: $width-md) 
      margin: 0 auto 2em

  ul
    list-style: none
    width: 180px

    li
      margin-bottom: 1.25em
      position: relative

      span
        color: rgba($color,.2)
        font-weight: 300

      .tooltip
        position: absolute
        top: 28px
        left: 0px
        background: $color
        color: white
        font-size: .8em
        padding: 3px 6px 5px
        border-radius: 4px

        &:before
          content: ""
          position: absolute
          top: -10px
          left: 24px
          z-index: 1
          border: solid 5px transparent
          border-bottom-color: $color

.symbol
  color: $color
  text-align: center
  width: 60px
  margin-right: 2.25em

  li

    &:before,
    &:after
      color: rgba($color, .2)
      font-weight: 300

    &:before
      content: '['
      margin-right: 5px

    &:after
      content: ']'
      margin-left: 5px

  code
    font-family: $font-family

.word, .number
  width: 100px

.word
  margin-right: 2em

.number
  margin-right: 1.75em

  @media screen and (max-width: $width-sm) 
    margin-right: 0

.name
  width: 230px
  font-weight: 300
  cursor: default

  @media screen and (max-width: $width-sm) 
    display: none
   


// Footer ----------------------------------------
footer
  font-size: .75em  
  color: rgba($color, .66)
  margin: 7em 1em 1em

  @media screen and (max-width: $width-md) 
    margin-top: 0

  a
    color: rgba($color, .66)
  
    &:hover
      color: red
  
  